/* !::::::: NAV ::::::: */
.nav-toggle {
  display: none;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999;
  transition: var(--transition);
}

.fixed-nav.nav-bg {
  background-color: var(--clr-white);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.fixed-nav.nav-bg .container {
  transition: var(--transition);
  height: 80px;
}

.fixed-nav .container {
  display: flex;
  height: 120px;
  align-items: center;
  transition: var(--transition);
}

.fixed-nav .logo {
  flex: 2;
  cursor: pointer;
}

.fixed-nav .links-container {
  display: flex;
  align-items: center;
}

.fixed-nav .links {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.fixed-nav .link {
  margin: 0 10px;
  color: var(--clr-black);
  padding-bottom: 5px;
}

.fixed-nav .link:hover {
  border-bottom: 2px solid var(--clr-main);
}

.fixed-nav .nav-btn {
  padding: 10px 25px;
}

.nav-btn:hover {
  background-color: var(--clr-main-hover);
}

@media (max-width: 992px) {
  /* !::::::: NAV ::::::: */
  .fixed-nav .container {
    display: block;
  }

  .nav-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    align-items: center;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    /* position: absolute;
    display: inline-block;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition); */
  }

  .nav-toggle:focus {
    outline: none;
  }

  .nav-toggle:hover {
    color: var(--clr-main-hover);
  }

  .fixed-nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .fixed-nav .links-container {
    background-color: var(--clr-white);
    display: block;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    box-shadow: var(--shadow);
    transition: var(--transition);
  }

  .fixed-nav .links-container.show-link {
    transition: var(--transition);
  }

  .fixed-nav.nav-bg .links-container {
    margin-top: 10px;
  }

  .fixed-nav .links {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  .fixed-nav .link {
    display: inline-block;
    margin: 5px 0;
  }

  .fixed-nav .link:hover {
    border-bottom: none;
  }

  .nav-btn {
    padding: 10px 25px;
    text-align: center;
  }

  .nav-btn:hover {
    background-color: var(--clr-main-hover);
  }
}
